
@{
    ViewBag.Title = "AddPatientTests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .card {
        padding: 1em;
    }

    button.btn.btn-success {
        margin: 0.5em;
    }

    body {
        background-color: #69acc759;
    }

    .container-fluid {
        padding-top: 120px !important;
    }
</style>


<div class="card">
    <div class="container mt-5">
        <h2 class="mb-4">Patient Blood Tests</h2>
        <form>
            <div class="form-group row">
                <label for="patientId" class="col-sm-2 col-form-label">Patient ID</label>
                <span class="col-sm-2 col-form-label">8855</span>

                <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
                <span class="col-sm-2 col-form-label">Ayah hasan</span>

                <label for="fullName" class="col-sm-2 col-form-label">Test_Order</label>
                <span class="col-sm-2 col-form-label">5518</span>

            </div>
            <br>

            <div class="form-group row">
                <label for="testName" class="col-sm-2 col-form-label">Search Test</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="testName" placeholder="Enter Test Name">
                    <!-- <button type="button" class="btn btn-primary mt-2" onclick="searchTest()">Search</button> -->
                </div>
            </div>
        </form>

        <h3 class="mt-5">Tests Ordered</h3>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Test ID</th>
                    <th>Test Name</th>
                    <th>Test Description</th>
                    <th>Test Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="testsTableBody">
                <!-- Dynamically added test rows will appear here -->
                <tr>
                    <td>54</td>
                    <td>CBC</td>
                    <td>Complete Blood Count</td>
                    <td>8 JOD</td>
                    <td><button class="btn btn-danger" onclick="removeTest(this)">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-danger m-1" onclick="saveData()">Cancel</button>
        <a href="@Url.Action("AddPatientPayment", "Admin")"><button class="btn btn-outline-primary m-1">Save and Payment</button></a>
    </div>

</div>
